*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.container-about {
  display: grid;
  grid-template-rows: 80vh repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #025332;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483A; }

.heading-3 {
  font-size: 1.6rem;
  color: #025332;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

.btn {
  background-color: #025332;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #B28451; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.sidebar {
  background-color: #025332;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / 5; }

.header {
  background-color: #54483A;
  grid-column: full-start / full-end;
  background-image: linear-gradient(rgba(16, 29, 44, 0.25), rgba(16, 29, 44, 0.25)), url("../img/header-trial4.jpg");
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 3rem;
  display: grid;
  grid-template-rows: 1fr min-content 6rem 1fr;
  grid-template-columns: max-content;
  grid-row-gap: 1.5rem;
  justify-content: center; }
  .header__text {
    margin-top: 11rem; }
  .header__logo {
    width: 40rem;
    height: 10rem;
    justify-self: center; }
  .header__btn {
    align-self: start;
    justify-self: start; }
  .header__seenon-logos img {
    height: 2.5rem; }

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7 / full-end; }

.missions {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start; }

.mission {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem; }
  .mission__icon {
    fill: #025332;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }
  .mission__text {
    font-size: 1.7rem; }
  .mission__text-2 {
    font-size: 1.7rem;
    grid-area: 3 / 2 / 4 / 3;
    margin-left: 10rem;
    margin-top: 2rem; }

.story__pictures {
  background-color: lightgray;
  grid-column: full-start / col-end 4;
  background-image: linear-gradient(rgba(2, 83, 50, 0.5), rgba(2, 83, 50, 0.5)), url("../img/back.jpg");
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center; }

.story__img--1 {
  width: 100%;
  height: 80%;
  grid-area: 2 / 2 / 6 / 6;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); }

.story__img--2 {
  width: 110%;
  height: 110%;
  grid-area: 4 / 4 / 6 / 7;
  z-index: 20;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); }

.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5 / full-end;
  padding: 6rem 8vw;
  /*
        FOR FLEXBOX;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        */
  display: grid;
  align-content: center;
  justify-items: start; }

.story__text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 4rem; }

.services {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem; }

.service {
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem; }
  .service__img {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 1; }
  .service__like {
    grid-area: 1 / 2 / 2 / 3;
    z-index: 2;
    fill: #025332;
    height: 2.5rem;
    width: 2.5rem;
    justify-self: end;
    margin: 1rem; }
  .service__name {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
    z-index: 3;
    width: 80%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: #101d2c;
    color: #fff;
    font-weight: 400;
    transform: translateY(50%); }
  .service__location, .service__rooms {
    margin-top: 2.5rem; }
  .service__location, .service__rooms, .service__area, .service__price {
    font-size: 1.5rem;
    margin-left: 1rem;
    display: flex;
    align-items: center; }
    .service__location svg, .service__rooms svg, .service__area svg, .service__price svg {
      fill: #025332;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
    .service__location span, .service__rooms span, .service__area span, .service__price span {
      margin-right: 1rem; }
  .service__btn {
    grid-column: 1 / -1; }

.gallery {
  background-color: #54483A;
  grid-column: full-start / full-end; }

.footer {
  background-color: lightgray;
  grid-column: sidebar-start / full-end;
  padding: 1rem; }
  .footer__text {
    text-align: center; }

.nav {
  list-style: none;
  display: flex;
  align-self: center;
  text-align: left; }
  .nav__link:link, .nav__link:visited {
    font-size: 1.4rem;
    color: #000;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all .2s; }
  .nav__link:hover, .nav__link:active {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-3px); }

.copyright {
  font-size: 1.4rem;
  color: #025332;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%; }

.sponsers {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  margin-left: 45rem; }
  .sponsers__img1 {
    width: 15rem;
    height: 10rem; }
  .sponsers__img2 {
    width: 15rem;
    height: 10rem; }

.sponsers-about {
  display: flex;
  width: 20rem;
  margin-right: auto;
  margin-left: auto; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 2rem;
  left: .5rem;
  border-radius: 50%;
  z-index: 2000;
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 2.5rem;
  left: 1rem;
  background-image: radial-gradient(#025332, #025332);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  opacity: .9; }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  visibility: hidden;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #f9f7f6;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #f9f7f6 50%);
  background-size: 220%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #025332;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  visibility: visible;
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::Before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #aaa;
    display: inline-block; }
  .navigation__icon::Before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.features {
  grid-column: center-start / center-end;
  margin: 15rem 0; }
  @supports (display: grid) {
    .features {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      grid-gap: 6rem;
      align-items: start; } }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem; }
  @supports (display: grid) {
    .feature {
      width: auto;
      margin-bottom: 0; } }
  .feature__icon {
    fill: #025332;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }
  .feature__text {
    font-size: 1.7rem; }
  .feature__margin-2 {
    margin-top: -50rem; }

.testimonials {
  grid-column: center-start / center-end;
  margin: 5rem 0;
  display: grid;
  grid-template-columns: 1fr; }
  .testimonials__title {
    font-size: 5rem;
    text-align: center;
    color: #025332;
    font-family: "Josefin Sans", sans-serif; }

.testimonial {
  width: 75%;
  margin-top: 3rem;
  margin-left: 15rem;
  margin-bottom: 3rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(2, 75, 2, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.2rem;
  transform: skewX(-12deg); }
  .testimonial__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .testimonial__image {
    height: 100%;
    margin-left: 6rem;
    background-color: green;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  .testimonial__text {
    transform: skewX(12deg);
    font-size: 1.3rem;
    color: white; }
    .testimonial__text--name {
      margin-bottom: 1rem; }
  .testimonial__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #eee;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .testimonial:hover .testimonial__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .testimonial:hover .testimonial__image {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.contact__map {
  grid-column: full-start / col-end 4;
  display: grid;
  grid-template-rows: 1fr 20rem;
  grid-template-columns: 1fr;
  align-items: center; }

#map {
  width: 40.3rem;
  height: 35rem;
  margin-left: 6rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.9);
  border-radius: 10%;
  margin-top: 5rem; }

.location {
  margin-left: 6rem;
  margin-top: 3rem;
  font-size: 2rem;
  grid-row: 2 / 3;
  background-color: #025332;
  color: azure;
  padding: 2rem;
  -webkit-background-clip: text;
  display: inline-block;
  color: transparent;
  transition: all .2s; }
  .location:hover {
    transform: translateY(-1.5rem);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.form__content {
  background-color: #f9f7f6;
  grid-column: col-start 5 / full-end;
  padding: 6rem 8vw;
  /*
        FOR FLEXBOX;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        */
  display: grid;
  align-content: center;
  justify-items: start; }

.form__text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 4rem; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  border-radius: 2px;
  border-color: rgba(238, 238, 238, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 170%;
  display: block;
  transition: all .3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #025332; }
  .form__input:focus:invalid {
    border-bottom: 3px solid darkgray; }
  .form__input::-webkit-input-placeholder {
    color: #6D5D4B; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }
