.footer {
    background-color: lightgray;
    grid-column: full-start / full-end;
    padding: 1rem;
}

.nav {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    align-items: center;
    margin-bottom: 1rem;

    &__link:link,
    &__link:visited {
        font-size: 1.4rem;
        color: rgb(61, 60, 60);
        text-decoration: none;
        font-family: $font-display;
        text-transform: uppercase;
        text-align: center;
        padding: 1.5rem;
        display: block;
        transition: all .2s;
    }

    &__link:hover,
    &__link:active {
        background-color: rgba(#fff, .05);
        transform: translateY(-3px);
    }
}

.copyright {
    font-size: 1.4rem;
    color: $color-grey-dark-2;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 70%;
}

.sponsers {
    // margin-left: 3rem;
    display: flex;
    width: 25rem;
    margin-right: auto;
    margin-left: auto;
}